body {
  padding-left: 50px;
  padding-top: 10px;
  font: 14px sans-serif, Helvetica, Arial;
  text-align: center;
}
img {
	padding-top: 5em;
}
input {
	width: 6em;
	font-family: sans-serif, Helvetica, Arial;
	text-align: center;
}
a {
  color: #00B7FF;
}
#button {
  padding:5px;
  background-color: #585C5F;
  border: 1px solid #585C5F;
  color:#000;
  text-decoration:none;
  color:white;
  width: 3 em;
  height:1 em;
}
#button:hover {
  padding:5px;
  background-color: #7FBCF5;
  border: 1px solid #7FBCF5;
  color:#000;
  text-decoration:none;
  color:white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
	-webkit-appearance:none;
	margin:0;
}